* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v83_69 {
  width: 390px;
  height: 1000px;
  background: rgba(237,246,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.background_image {
  width: 515px;
  height: 890px;
  background: url("../images/v83_70.png"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -50px;
  left: -60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v83_71 {
  width: 181px;
  height: 181px;
  background: url("../images/v83_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 120px;
  overflow: hidden;
}
.v83_72 {
  width: 180px;
  height: 180px;
  background: url("../images/v83_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_73 {
  width: 62px;
  height: 37px;
  background: url("../images/v83_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 28px;
  overflow: hidden;
}
.regenerate_button {
  width: 330px;
  height: 63px;
  background: url("../images/v83_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 29px;
  overflow: hidden;
}
.v83_75 {
  width: 330px;
  height: 63px;
  background: rgba(0,109,119,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style:inset;
  border-color: rgba(3, 82, 89, 0.7);
  border-width: 7px;
  overflow: hidden;
}
.v83_76 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.sandwich {
  width: 415px;
  height: 360px;
  background: url("../images/v83_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 0px;
  transform: rotate(0deg);
  overflow: hidden;
}
.sandwich_bookmark {
  width: 106px;
  height: 170px;
  background: url("../images/v83_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 245px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.sandwich_book {
  width: 256px;
  height: 240px;
  background: url("../images/v83_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 15px;
  transform: rotate(-50deg);
  overflow: hidden;
}
.sandwich_pic {
  width: 170px;
  height: 115px;
  background: url("../images/v83_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 60px;
  border: 1px solid rgba(86,86,86,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-20deg);
  overflow: hidden;
}
.sandwich_name {
  width: 208px;
  color: rgba(0,109,119,0.843137264251709);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 120px;
  left: 0px;
  font-family: Alata;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-20deg);
}
.sandwich_info {
  width: 139px;
  color: rgba(237,246,249,1);
  position: absolute;
  top: 185px;
  left: 233px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.salad {
  width: 400px;
  height: 280px;
  background: url("../images/v83_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 0px;
  overflow: hidden;
}
.salad_bookmark {
  width: 106px;
  height: 170px;
  background: url("../images/v83_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 50px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  overflow: hidden;
  transform: rotate(90deg);
}
.salad_book {
  width: 256px;
  height: 240px;
  background: url("../images/v83_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 135px;
  transform: rotate(-10deg);
  overflow: hidden;
}
.salad_pic {
  width: 110px;
  height: 155px;
  background: url("../images/v83_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top:65px;
  left:210px;
  border: 1px solid rgba(86,86,86,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transform: rotate(110deg);
}
.salad_name {
  width: 164px;
  color: rgba(0,109,119,0.843137264251709);
  position: absolute;
  top: 10px;
  left: 220px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Alata;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(17deg);
}
.salad_info {
  width: 139px;
  color: rgba(237,246,249,1);
  position: absolute;
  top: 70px;
  left: 28px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.wrap {
  width: 420px;
  height: 240px;
  background: url("../images/v83_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: -20px;
  transform: rotate(0deg);
  overflow: hidden;
}
.wrap_bookmark {
  width: 106px;
  height: 170px;
  background: url("../images/v83_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 265px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.wrap_book {
  width: 256px;
  height: 240px;
  background: url("../images/v83_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  transform: rotate(-50deg);
  overflow: hidden;
}
.wrap_pic {
  width: 159px;
  height: 107px;
  background: url("../images/v83_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 90px;
  border: 1px solid rgba(86,86,86,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-20deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.wrap_name {
  width: 175px;
  color: rgba(0,109,119,0.843137264251709);
  position: absolute;
  top: 10px;
  left: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Alata;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-20deg);
}
.wrap_info {
  width: 139px;
  color: rgba(237,246,249,1);
  position: absolute;
  top: 38px;
  left: 255px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.home_button {
  width: 32px;
  height: 32px;
  background: url("../images/v123_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 316px;
  overflow: hidden;
}
.v123_130 {
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 307px;
  border-style:solid;
  border-color: rgba(18, 37, 39, 0.7);
  border-width: 5px;
  border-radius: 50%;
}
.v123_131 {
  width: 32px;
  height: 5px;
  background: rgba(131,197,190,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 6px;
  border: 4px solid rgba(0,109,119,1);
}
.v123_132 {
  width: 32px;
  height: 5px;
  background: rgba(131,197,190,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 6px;
  border: 4px solid rgba(0,109,119,1);
}
.v123_133 {
  width: 32px;
  height: 5px;
  background: rgba(131,197,190,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 6px;
  border: 4px solid rgba(0,109,119,1);
}
.back_button {
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 27px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  overflow: hidden;
}
.v122_7 {
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  /* background: rgba(0,109,119,1); */
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-style:solid;
  border-color: rgba(18, 37, 39, 0.7);
  border-width: 5px;
  border-radius: 50%;
}
.v122_8 {
  width: 25px;
  color: rgba(0,109,119,1);
  /* color: rgb(255, 255, 255); */
  position: absolute;
  top: -4px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 44px;
  opacity: 1;
  text-align: center;
}
